body {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0%;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(4, 4, 4);
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cloud {
  position: absolute;
  height: 99vh;
  width: 99vw;
  animation: nuvem 80s linear infinite;
}

.img_cloud {
  height: 99vw;
}

.cabecaVenon {
  position: relative;
  z-index: 1;
  transform: rotateY(180deg);
  animation: cabeca1 3s linear forwards;
}
@keyframes cabeca1 {
  0% {
    left: -30%;
  }
  100% {
    left: 5%;
  }
}
.cabecaVenon2 {
  position: relative;
  z-index: 1;
  transform: rotateY(360deg);
  animation: cabeca2 3s linear forwards;
}

@keyframes cabeca2 {
  0% {
    right: -30%;
  }
  100% {
    right: 5%;
  }
}
#logo {
  position: relative;
  animation: hoverLogo 3s infinite;
  height: 50%;
}

.sinopse {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-start;
}

.informacoes {
  padding-top: 120px;
  font-family: "Marvel", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  font-size: 1.3rem;
  z-index: 2;
}

#trailer {
  position: absolute;
  align-self: center;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  z-index: 2;
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#trailer iframe {
  position: absolute;
  top: 65%;
  left: 44%;
  width: 53%;
  height: 53%;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #11111160;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: "Marvel", sans-serif;
  font-size: 1.3rem;
  color: rgb(169, 3, 3);
  position: relative;
  z-index: 1;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #ff0000,
    #f9faf9fd,
    #ff2929,
    #ff0000,
    #ff4800,
    #ff0000,
    #840303
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes nuvem {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes hoverLogo {
  0% {
    opacity: 1;
    border-radius: 50%;
    border-top-width: 10%;
  }
  50% {
    border-radius: 0;
    border-top-width: 100%;
    opacity: 0.1;
  }
  100% {
    border-radius: 50%;
    border-top-width: 10%;
    opacity: 1;
  }
}
